.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #97bbef;
   text-align: center;
   width: 450px;
   height: 400px;
   padding: 20px 50px;
   margin-top: 50px;
   border-radius: 10px;
}

.form h2 {
   text-transform: uppercase;
   color: #00040a;
}

.form button {
   width: 150px;
   height: 50px;
   display: flex;
   align-self: center;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   border: none;
   border-radius: 10px;
   background-color: #03142c;
   color: #f9f9f9;
   font-size: 16px;
   text-transform: uppercase;
}

.form button:hover {
   transition: 0.5s ease-in-out;
   background-color: #00040a;
}

.form textarea {
   display: flex;
   align-self: center;
   width: 400px;
   resize: none;
   font-size: 14px;
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   padding: 10px;
   border: none;
   background-color: #f9f9f9;
   border-radius: 10px;
}

.form textarea::placeholder {
   font-size: 14px;
   color: #00040a;
}

.form textarea:hover,
.form textarea:focus {
   outline: 1px solid #03142c;
}

@media only screen and (max-width: 769px) {
   .form {
      width: 400px;
      height: 350px;
   }

   .form h2 {
      font-size: 22px;
   }

   .form button {
      width: 120px;
      height: 40px;
   }

   .form textarea {
      width: 350px;
   }
}

@media only screen and (max-width: 521px) {
   .form {
      width: 320px;
      height: 270px;
      padding: 10px 30px;
      margin-top: 30px;
   }

   .form h2 {
      font-size: 18px;
   }

   .form button {
      width: 100px;
      height: 40px;
      font-size: 12px;
   }

   .form textarea {
      width: 250px;
      height: 120px;
      font-size: 11px;
   }

   .form textarea::placeholder {
      font-size: 11px;
   }
}

@media only screen and (max-width: 421px) {
   .form {
      width: 270px;
      height: 220px;
      padding: 5px 20px;
      margin-top: 30px;
   }

   .form h2 {
      font-size: 16px;
   }

   .form button {
      width: 80px;
      height: 20px;
      font-size: 10px;
   }

   .form textarea {
      width: 200px;
      height: 90px;
      font-size: 10px;
   }

   .form textarea::placeholder {
      font-size: 10px;
   }
}
