.notes {
   display: flex;
   flex-direction: row;
   gap: 40px;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
   margin-top: 50px;
   color: #00040a;
}

.notes h2 {
   text-transform: uppercase;
   font-weight: 900;
}

.yellow-note {
   background-color: #ffd52e;
   width: 330px;
   height: 330px;
   box-shadow: #b06f00 1px 5px 10px;
   overflow-wrap: break-word;
   border-radius: 10px;
}

.blue-note {
   background-color: #7afcff;
   width: 330px;
   height: 330px;
   box-shadow: #009595 1px 5px 10px;
   overflow-wrap: break-word;
   border-radius: 10px;
}

.pink-note {
   background-color: #ff65a3;
   width: 330px;
   height: 330px;
   box-shadow: #fe0a6d 1px 5px 10px;
   overflow-wrap: break-word;
   border-radius: 10px;
}

.icons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.icon {
   cursor: pointer;
   border: 1px solid #00040a;
   padding: 3px;
   margin: 5px;
   border-radius: 50%;
}

.icon:hover {
   background-color: red;
   border: 1px solid red;
   color: #f9f9f9;
}

hr {
   border: 1px solid #00040a;
}

.text {
   width: 200px;
   height: 100px;
   background-color: transparent;
   resize: none;
   border: none;
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   text-align: center;
}

.text:hover,
.text:focus {
   outline: 1px solid #00040a;
}

@media only screen and (max-width: 769px) {
   .yellow-note,
   .blue-note,
   .pink-note {
      width: 300px;
      height: 300px;
   }
}

@media only screen and (max-width: 521px) {
   .yellow-note,
   .blue-note,
   .pink-note {
      width: 270px;
      height: 270px;
   }

   .icons {
      justify-content: space-between;
   }

   .icon {
      padding: 1px;
      margin: 5px;
      margin-bottom: 0;
   }

   .notes h2 {
      font-size: 20px;
   }

   .notes {
      margin-top: 30px;
   }
}

@media only screen and (max-width: 421px) {
   .yellow-note,
   .blue-note,
   .pink-note {
      width: 210px;
      height: 210px;
   }

   .icon {
      padding: 1px;
      margin: 2px;
      margin-bottom: 0;
      transform: scale(0.8);
   }

   .notes h2 {
      font-size: 15px;
   }

   .notes {
      margin-top: 20px;
   }

   textarea {
      font-size: 12px;
   }

   .notes p {
      font-size: 12px;
   }
}
